<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>管理员认证</title>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>

<form action="/admin/login" method="post">
    账号:<input id="username" type="text" <!--th:value="${user?.username}"--> <!--name="username"--> /></br>
    密码:<input id="password" type="password" <!--th:value="${user?.password}"--> <!--name="password"--> /></br>
    <input type="submit" value="登陆">
</form>
<p <!--id="p1" th:text="${msg}"-->/>
</body>
</html>